<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Webshop{% endblock %}</title>
</head>
<body>

<header>
    <h1>Elektronikai Webáruház</h1>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
