{% extends "base.twig" %}

{% block title %}Terméklista{% endblock %}

{% block content %}
<h2>Termékek</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>Név</th>
        <th>Kategória</th>
        <th>Ár (Ft)</th>
    </tr>

    {% for p in products %}
        <tr>
            <td>{{ p.Nev }}</td>
            <td>{{ p.Kategoria }}</td>
            <td>{{ p.Ar|number_format(0, '.', ' ') }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
